/*
$interactivity-color: yellow;
*/
$interactivity-color: #f9d072;
/*
$student-inactive-background-color: #00cc66;
*/
$student-inactive-background-color: #339966;
$hover-color: #476e9e;
$used-font-family: Verdana;

$button-font-size-desktop: 15px;
$button-font-size-cell-phone: 25px;

$input-field-font-size-desktop: 10px;
$input-field-font-size-cell-phone: 15px;

body {
  font-family: $used-font-family;
  background-color: #f2994a;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);

  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

header {
  padding: 2px 15px 2px 5px;
  margin-top: 5px;
  position: relative;
}

header .hide-completed {
  /* float: right; */
}

h1 {
  font-size: 7rem !important;
  font-family: $used-font-family!important;
  color: black;
  margin: 0;

  display: inline-block;
  margin-right: 1em;
}

h3 {
  font-size: 2em!important;
  font-family: $used-font-family! important;
  padding-left: 5px;
}

h4 {
  font-size: 1em!important;
  font-family: $used-font-family! important;
  padding-left: 5px;
}

h5 {
  font-size: 0.75em!important;
  font-family: $used-font-family! important;
  padding-left: 5px;
  margin-top: -15px;
}

h6 {
  font-size: 0.8em!important;
  font-family: $used-font-family! important;
  padding-left: 5px;
}

.container_s2g {
  margin: 5%;
  padding: 2%;

  width: auto ! important;

  min-height: 650px;
  height: auto;
  background: #f2894a;
}

.loginCircle {

  width: 80px;
  height: 80px;

  position: relative;
  margin-top: 5px;
  margin-right: 60px;

  float: right;

  background: $interactivity-color;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 100%;

}

.loginCircle:hover,
.loginCircle:focus,
.loginCircle:active {
  background-color: $hover-color;
}

#login-buttons {
  display: block;
  text-align: center;
  margin-top: 30px;
}


.selectStudentGroupCSSGridWrapper {
  margin-top: 5px;
  margin-left: 5px;

  position:relative;
  float:left;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  grid-template-rows: (30px, auto);

}

.gridItem_row_selectStudentGroupCSSGridWrapper {
  position:relative;
  float:left;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: minmax(200px, 1fr) 45px 45px;
  grid-template-rows: 30px;

  grid-column-gap: 20px;

  justify-items: left;
  align-items: center;
}

.editStudentGroupCSSGridWrapper {
  margin-top: 5px;
  margin-left: 5px;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
}

.randomizeStudentGroupCSSGridWrapper {
  border-style: none;
  border-width: 5px;
  border-color: black;

  min-width: 1100px;
  width: auto;
  min-height: 450px;

  display: grid;
  grid-auto-flow: column;

  grid-template-columns: repeat(14, 100px);
  grid-template-rows: 70px 100px 100px 100px 100px 100px auto;
}

.gridItem_goToMainViewButton_randomizeStudentGroupCSSGridWrapper   {
  border-style: none;
  border-width: 3px;
  border-color: pink;

  overflow: hidden;

  grid-row: 1;
  grid-column: 1 / 3;
}

.gridItem_navigationButtons_randomizeStudentGroupCSSGridWrapper   {
  border-style: none;
  border-width: 3px;
  border-color: pink;

  overflow: hidden;

  grid-row: 1;
  grid-column: 1 / 5;

  display: grid;
  grid-auto-flow: column;

  grid-template-columns: 100px 100px;
  grid-template-rows: auto;
}

.goToMainViewButton {
  background-color: $interactivity-color;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 0px;
	border: 1px solid #4e6096;
	/*display:inline-block;*/
  width: 95px;
  height: 30px;
  position: relative;

  margin-right: 50px;
  margin-left: 5px;
	cursor: pointer;
	color: #000000;
	font-family: $used-font-family;
	font-size: 15px;
	text-decoration: none;
}

.goToMainViewButton:hover {
	background-color: $hover-color;
}

.goToMainViewButton:active {
	position: relative;
	top: 1px;
}

.gridItem_studentGroupName_randomizeStudentGroupCSSGridWrapper {
  border-style: none;
  border-width: 3px;
  border-color: green;
  grid-row: 2;
  grid-column: 1 / 6;
}

.gridItem_studentList_randomizeStudentGroupCSSGridWrapper {
  border-style: none;
  border-width: 3px;
  border-color: blue;

  overflow: hidden;
  min-width: 400px;

  grid-row: 3 / 9;
  grid-column: 1 / 8;

}

.studentListRandomizeStudentGroupCSSGridWrapper {
  position: relative;
  float: left;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.gridItem_sliderCombo_randomizeStudentGroupCSSGridWrapper {
  border-style: none;
  border-width: 3px;
  border-color: red;

  overflow: hidden;

  grid-row: 2 / 4;
  grid-column: 8 / 12;
}

.sliderComboCSSGridWrapper {
  border-style: none;
  border-width: 3px;
  border-color: orange;

  position:relative;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 50px;
}

.gridItem_Instructions_sliderComboCSSGridWrapper {
  grid-row: 1;
  grid-column: 1 / 3;

  text-align: left;

  font-family: $used-font-family;
  font-size: 2em;
}

.gridItem_NumberBox_sliderComboCSSGridWrapper {
  grid-row: 1;
  grid-column: 3;
}

.numberBox {
  width: 100px;
  height: 100px;

  position: relative;
  float: right;

  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */

  background: #a50d11;
  border-style: solid;
  border-width: 4px;

  color: #000000;
  font-size: 80px;
  font-family: $used-font-family;
}

.gridItem_Slider_sliderComboCSSGridWrapper {
  grid-row: 2 / 4;
  grid-column: 1 / 4;
}

.gridItem_randomizeStudentGroupButton_randomizeStudentGroupCSSGridWrapper {

  border-style: none;
  border-width: 3px;
  border-color: grey;

  overflow: hidden;

  display: grid;
  justify-items: center;
  align-items: center;

  grid-row: 3 / 6;
  grid-column: 9 / 12;

}

.randomizeStudentGroupButton {
  width: 250px;
  background-color: $interactivity-color;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 0px;
	border:1px solid #4e6096;
	display:inline-block;

	cursor: pointer;
	color: #000000;

	font-family: $used-font-family;
	font-size: 40px;

	text-decoration: none;

  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.randomizeStudentGroupButton:hover {

  transform: scale(1.1);
  border-width: 2px;
  border-color: blue;
}

.randomizeStudentGroupButton:active {
	/* position: relative; */
	top: 1px;
}

.revolvermapContainer {
    width: 341px;
    height: 341px;

    position: relative;
    float: left;
}

.gridItem_smallGroupContainerGrid_randomizeStudentGroupCSSGridWrapper {
  grid-row: 3 / auto;
  grid-column: 1 / span 5;

  margin-left: 5px;
  margin-right: 10px;

  display: grid;
  grid-auto-flow: row;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

.smallGroup {
  min-width: 150px;
  height: inherit;

  border: 1px solid #555;
  margin-right: 5px;
  padding: 5px;

  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  grid-auto-rows: minmax(30px, auto);
}

.selectStudentGroupButton {
  background-color: $interactivity-color;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 0px;
	border:1px solid #4e6096;
	display: inline-block;
	cursor: pointer;
	color: #000000;

	font-family: $used-font-family;
	font-size: 16px;

  padding: 2px 4px;
  margin-left: 10px;
	text-decoration: none;
  /* text-shadow: 0px 1px 0px #283966; */

  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;

}

.selectStudentGroupButton:hover,
.selectStudentGroupButton:focus {
  transform: scale(1.05);
  border-width: 2px;
  border-color: blue;

}
.selectStudentGroupButton:active {
	position: relative;
  transform: scale(1.1);
	top: 1px;
}

.studentNameButton {

  width: 150px;
  height: 30px;

	background-color: $student-inactive-background-color;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 0px;
	border: 1px solid #4e6096;
	display: inline-block;
	cursor: pointer;
	color: black;

	font-family: $used-font-family;
	font-size: 14px;

  padding: 2px 4px;

	text-decoration: none;

  white-space: nowrap;
  white-space: -moz-pre-wrap; /* Firefox */
  word-wrap: break-word; // IE
}

.studentNameButton.canBeClicked {
  background-color: $interactivity-color;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 0px;
	border: 1px solid #4e6096;
	display: inline-block;
	cursor: pointer;
	color: #000000;

	font-family: $used-font-family;
	font-size: 14px;

  padding: 2px 4px;
	text-decoration: none;
}

.studentNameButton.checked {
  background-color: #7892a2;
	/*background-color:#dcdcdc;*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 0px;
	border: 1px solid #4e6096;
	display: inline-block;
	cursor: pointer;
	color: #dcdcdc;

	font-family: $used-font-family;
	font-size: 14px;

  padding: 2px 4px;
  text-decoration: line-through;
}
.studentNameButton.checked:hover {
	background-color: #0892a2;
}
.studentNameButton:hover {
	background-color: $hover-color;
}
.studentNameButton:active {
  top: 1px;
}

.editStudentGroupButton {
  /*background-color:#7892a2;*/
  background-color: $interactivity-color;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 0px;
	border:1px solid #4e6096;
	display: inline-block;
	cursor: pointer;
	color: #000000;

  width: 45px;
  height: 20px;

	font-family: $used-font-family;
	font-size: 10px;

  padding: 2px 4px;
	text-decoration: none;
}
.editStudentGroupButton:hover {
  background-color: $hover-color;

}
.editStudentGroupButton:active {
	position: relative;
	top: 1px;
}

.deleteStudentGroupButton {
  background-color: $interactivity-color;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 0px;
	border: 1px solid #4e6096;
	display: inline-block;
	cursor: pointer;
	color: #ff0000;

	font-family: $used-font-family;
	font-size: 10px;
  text-decoration: none;

  padding: 2px 4px;

  width: 45px;
  height: 20px;
}
.deleteStudentGroupButton:hover {
	background-color: $hover-color;
}
.deleteStudentGroupButton:active {
	position: relative;
	top: 1px;
}

.deleteStudentButton {
  background-color: $interactivity-color;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 0px;
	border: 1px solid #4e6096;
	display: inline-block;
	cursor: pointer;
	color: #ff0000;

	font-family: $used-font-family;
	font-size: 10px;

  padding: 2px 4px;
  margin-left: 10px;
	text-decoration: none;
}
.deleteStudentButton:hover {
	background-color: $hover-color;
}
.deleteStudentButton:active {
	position: relative;
	top: 1px;
}

.gridItem_goToListViewButton_randomizeStudentGroupCSSGridWrapper   {
  border-style: none;
  border-width: 3px;
  border-color: pink;

  overflow: hidden;

  grid-row: 1;
  grid-column: 2 / 4;
}

.goToListViewButton {
  width: 95px;
  height: 30px;
  margin-left: 5px;
  padding-left: 12px;

  background-color: $interactivity-color;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 0px;
	border:1px solid #4e6096;
	/*display:inline-block;*/
  display: flex;
	cursor: pointer;
	color: #000000;

	font-family: $used-font-family;
	font-size: 15px;

	text-decoration: none;
}
.goToListViewButton:hover {
	background-color: $hover-color;
}
.goToListViewButton:active {
	position: relative;
	top: 1px;
}

label {
  /* display: block; */
  padding-left: 10px;
}

input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  overflow: hidden;
}

form {
  margin-top: 10px;
  margin-bottom: 5px;
  position: relative;
}

.new-studentGroup input {
  box-sizing: border-box;
  height: 30px;
  padding-left: 5px;
  padding-right: 80px;
  padding-bottom: 2px;
  margin-left: 10px;
  margin-bottom: 10px;
  background: $interactivity-color;
  /** border: none; */
  border-top: 1px dotted;
  border-right: 1px dotted;
  border-left: 1px dotted;
  border-bottom: 1px dotted;
  width: 50%;

  font-size: 1.5em;
  font-family: $used-font-family;
}

.new-studentGroup input:focus{
  outline: 0;
}

.new-studentToClass input {
  box-sizing: border-box;
  background: $interactivity-color;
  /** border: none; */
  border-top: 1px dotted;
  border-right: 1px dotted;
  border-left: 1px dotted;
  border-bottom: 1px dotted;
  height: 25px;
  width: 33%;
  margin-left: 5px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 80px;
  padding-top: 2px;
  padding-bottom: 2px;

  font-size: 0.8em;
  font-family: $used-font-family;
}

.new-studentToClass input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 10px 15px;
  list-style: none;
}

li .text {
  margin-left: -10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

/*
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
SMALL SCREEN SETTINGS START HERE
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
*/

@media (max-width: 1200px) {

  header {
    padding: 2px 15px 10px 5px;
    margin-top: 5px;
    position: relative;
  }

  h1 {
    font-size: 4.5rem ! important;
    font-family: $used-font-family;
    color: black;
    margin: 0;

    display: inline-block;
    margin-right: 1em;
  }

  .new-studentGroup input {
    box-sizing: border-box;
    height: 30px;
    padding-left: 5px;
    padding-right: 80px;
    padding-bottom: 2px;
    margin-left: 10px;
    margin-bottom: 10px;
    background: $interactivity-color;
    /** border: none; */
    border-top: 1px dotted;
    border-right: 1px dotted;
    border-left: 1px dotted;
    border-bottom: 1px dotted;
    width: 50%;

    font-size: $input-field-font-size-cell-phone;
    font-family: $used-font-family;
  }

  .new-studentGroup input:focus{
    outline: 0;
  }

  .new-studentToClass input {
    box-sizing: border-box;
    background: $interactivity-color;
    /** border: none; */
    border-top: 1px dotted;
    border-right: 1px dotted;
    border-left: 1px dotted;
    border-bottom: 1px dotted;
    height: 25px;
    width: 40%;
    margin-left: 5px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 80px;
    padding-top: 2px;
    padding-bottom: 2px;

    font-size: $input-field-font-size-cell-phone;
    font-family: $used-font-family;
  }

  .gridItem_goToMainViewButton_randomizeStudentGroupCSSGridWrapper   {
    border-style: none;
    border-width: 3px;
    border-color: pink;

    overflow: hidden;

    grid-row: 1;
    grid-column: 1 / 3;
  }

  .gridItem_navigationButtons_randomizeStudentGroupCSSGridWrapper   {
    border-style: none;
    border-width: 3px;
    border-color: pink;

    overflow: hidden;

    grid-row: 1;
    grid-column: 1 / 5;

    display: grid;
    grid-auto-flow: column;

    grid-template-columns: 145px 145px;
    grid-template-rows: auto;

    align-items: center; /* align vertical */
  }

  .goToMainViewButton {
    background-color: $interactivity-color;
  	-moz-border-radius: 4px;
  	-webkit-border-radius: 4px;
  	border-radius: 0px;
  	border: 1px solid #4e6096;
  	/*display:inline-block;*/
    width: 120px;
    height: auto;
    position: relative;

    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
  	cursor: pointer;
  	color: #000000;
  	font-family: $used-font-family;
  	font-size: $button-font-size-cell-phone;
  	text-decoration: none;
  }

  .gridItem_row_selectStudentGroupCSSGridWrapper {
    grid-row-gap: 10px;
  }

  .selectStudentGroupButton {
  	font-family: $used-font-family;
  	font-size: $button-font-size-cell-phone;

    width: auto;

  }

  .gridItem_goToListViewButton_randomizeStudentGroupCSSGridWrapper   {
    border-style: none;
    border-width: 3px;
    border-color: pink;

    overflow: hidden;

    grid-row: 1;
    grid-column: 3 / 5;
  }

  .goToListViewButton {
    width: 120px;
    height: auto;

  	font-family: $used-font-family;
  	font-size: $button-font-size-cell-phone;

    margin-top: 0px;
    margin-bottom: 5px;
  	text-decoration: none;
  }

  .editStudentGroupCSSGridWrapper {
    margin-top: 5px;
    margin-left: 5px;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-rows: repeat(16, 1fr);
    grid-gap: 5px;
  }

  .randomizeStudentGroupCSSGridWrapper {
    border-style: none;
    border-width: 5px;
    border-color: black;

    min-width: 300px;
    width: auto;

    display: grid;
    grid-auto-flow: column;

    grid-template-columns: repeat(7, 100px);
    grid-template-rows: auto;
  }

  .gridItem_Instructions_sliderComboCSSGridWrapper {
    grid-row: 1;
    grid-column: 1 / 3;

    text-align: left;

    font-family: $used-font-family !important;
    font-size: 1.7em !important;
  }

  .gridItem_sliderCombo_randomizeStudentGroupCSSGridWrapper {
    border-style: none;
    border-width: 3px;
    border-color: red;

    overflow: hidden;

    grid-row: 5 / 7;
    grid-column: 1 / 5;
  }

  .gridItem_randomizeStudentGroupButton_randomizeStudentGroupCSSGridWrapper {

    border-style: none;
    border-width: 3px;
    border-color: grey;

    overflow: hidden;

    display: grid;
    justify-items: left;
    align-items: center;

    grid-row: 7 / 9;
    grid-column: 1 / span 5;
  }

  .randomizeStudentGroupButton {
  	width: 200px;
    margin-left: 5px;

    background-color: $interactivity-color;
  	-moz-border-radius: 4px;
  	-webkit-border-radius: 4px;
  	border-radius: 0px;
  	border:1px solid #4e6096;
  	display:inline-block;

    cursor: pointer;
  	color: #000000;

  	font-family: $used-font-family;
  	font-size: 30px;

    text-decoration: none;
  }

  .randomizeStudentGroupButton:hover {
    transform: scale(1.03);
    border-width: 2px;
    border-color: blue;
  }

  .randomizeStudentGroupButton:active {
  	/*
    position: relative;
    */
    top: 2px;
  }

  .gridItem_studentList_randomizeStudentGroupCSSGridWrapper {
    border-style: none;
    border-width: 3px;
    border-color: blue;

    overflow: hidden;
    min-width: 400px;

    grid-row: 9 / auto;
    grid-column: 1 / 8;

  }
  .studentListRandomizeStudentGroupCSSGridWrapper {
    margin-top: 10px;
    position: relative;
    float: left;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
  }
  .gridItem_smallGroupContainerGrid_randomizeStudentGroupCSSGridWrapper {
    grid-row: 9 / 11;
    grid-column: 1 / 5;

    margin-right: 10px;
    margin-top: 10px;

    display: grid;
    grid-auto-flow: row;
    grid-template-columns:  1fr;
    grid-gap: 5px;
  }
}
