/* CSS declarations go here */
body {

  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 2px 15px 15px 15px;
  margin-top: 20px;
  position: relative;
}

h3 {
  font-size: 1.17em;
  padding-left: 5px;
}

h4 {
  font-size: 1em;
  padding-left: 5px;
}

#login-buttons {
  display: block;
}



.selectGroupButton {
	background-color:#7892a2;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:0px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:2px 4px;
  margin-left: 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.selectGroupButton:hover {
	background-color:#476e9e;
}
.selectGroupButton:active {
	position:relative;
	top:1px;
}

.studentNameButton {
	background-color:#7892a2;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:0px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:2px 4px;
  /*margin-left: 10px; */
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.studentNameButton:hover {
	background-color:#476e9e;
}
.studentNameButton:active {
	position:relative;
	top:1px;
}

.editButton {
	background-color:#7892c2;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:0px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	padding:2px 4px;
  margin-left: 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.editButton:hover {
	background-color:#476e9e;
}
.editButton:active {
	position:relative;
	top:1px;
}

.deleteButton {
	background-color:#7892c2;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:0px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ff0000;
	font-family:Arial;
	font-size:10px;
	padding:2px 4px;
  margin-left: 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.deleteButton:hover {
	background-color:#476e9e;
}
.deleteButton:active {
	position:relative;
	top:1px;
}

.goToMainViewButton {
	background-color:#7892c2;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:0px;
	border:1px solid #4e6096;
	/*display:inline-block;*/
  display: flex;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:2px 4px;
  margin-left: 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.goToMainViewButton:hover {
	background-color:#476e9e;
}
.goToMainViewButton:active {
	position:relative;
	top:1px;
}
/*
h1 {

  font-size: 1.5em;
  color: black;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;

}
*/

label {
  /* display: block; */
  padding-left: 10px;
  /* text-indent: -15px; */
}

input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}


form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-studentGroup input {

  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  /** border: none; */
  border-top: 1px dotted;
  border-right: 1px dotted;
  border-left: 1px dotted;
  border-bottom: 1px dotted;
  width: 50%;
  padding-right: 80px;
  font-size: 1em;

}

.new-studentGroup input:focus{
  outline: 0;
}

.new-studentToClass input {

  box-sizing: border-box;
  background: transparent;
  /** border: none; */
  border-top: 1px dotted;
  border-right: 1px dotted;
  border-left: 1px dotted;
  border-bottom: 1px dotted;
  height: 17px;
  width: 33%;
  margin-left: 5px;
  margin-bottom: 10px;
  padding-right: 80px;
  font-size: 1em;

}

.new-studentToClass input:focus{
  outline: 0;
}


ul {
  margin: 0;
  padding: 0;
  background: white;
}



.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}



li {
  position: relative;
  list-style: none;
  padding: 10px;
  border-bottom: #eee solid 1px;
}



li .text {
  margin-left: -10px;
}



li.checked {
  color: #888;
}



li.checked .text {
  text-decoration: line-through;
}



li.private {
  background: #eee;
  border-color: #ddd;
}



header .hide-completed {
  /* float: right; */
}



.toggle-private {
  margin-left: 5px;
}



@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-studentGroup input {
    padding-bottom: 5px;
  }

  .new-studentToClass input {
    padding-bottom: 5px;
    padding-left: 10px;
  }
}
