/* CSS declarations go here */
body {

  font-family: sans-serif;
  background-color: #f2994a;
  /*
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  */
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;

}

/*
.studentListContainer {
  position: relative;
  float: left;
  display: flex;
  flex-direction: row;

  margin-left: 5px;
}
*/

.studentListCSSGridWrapper {
  min-width: 350px;
  position:relative;
  float:left;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2px;
  grid-auto-rows: 100px;
  grid-template-rows: repeat(10, 1fr);
  /*
  grid-auto-columns: fit-content(400px);
  grid-auto-columns: min-content;
  */
}


.sliderComboCSSGridWrapper {
  width: 50%;
  position:relative;
  float:right;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 3px;
  grid-auto-rows: minmax(100px, auto);
  /*
  grid-auto-columns: fit-content(400px);
  grid-auto-columns: min-content;
  */
}

.gridItemNumberBox {
  /*
  grid-row: 1;
  */
  grid-row: 1;
  grid-column: 4;
}
.gridItemSlider {
  grid-row: 1;
  grid-column: 1 / 4;
}

.revolvermapContainer {

    width: 341px;
    height: 341px;
    /*padding: 8px;*/
    position: relative;
    float:left;

/*
    background:#f9d072;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius: 100%;

    border: 2px solid #666;
    color: #000000;
    text-align: center;
    */
}


.loginCircle {

    width: 80px;
    height: 80px;
    /*padding: 8px;*/
    position: relative;
    float:right;

    background:#f9d072;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius: 100%;

    /* background: #a50d11; */
    /*
    border: 2px solid #666;
    color: #000000;
    text-align: center;
    */
    /* font: 150px Arial, sans-serif; */
}

.loginCircle:hover {
	background-color:#476e9e;
}


.numberBox {
    /* border-radius: 50%; */

    width: 180px;
    height: 180px;
    /*padding: 8px;*/
    position: relative;
    float:right;

    /*
    position:absolute;
    right: 320px;

    */

    background: #a50d11;
    border: 2px solid #666;
    color: #000000;
    text-align: center;

    font: 150px Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 650px;
  background: #f2894a;
  /* background: white; */
}

.smallGroupContainer {
  display: flex; /* or inline-flex */
  flex-direction: row;
  margin-left: 5px;
}


.smallGroup {
  display: flex; /* or inline-flex */
  flex-direction: column;
  border: 1px solid #555;
  margin: 5px;
  padding: 5px;
}

header {
  /* background: #d2edf4;*/
  /* background: #e2994a; */
  /* background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%); */
  padding: 2px 15px 15px 15px;
  margin-top: 20px;
  position: relative;
}

h3 {
  font-size: 1.17em;
  padding-left: 5px;
}

h4 {
  font-size: 1em;
  padding-left: 5px;
}

h5 {
  font-size: 0.75em;
  padding-left: 5px;
  margin-top: -15px;
}

h6 {
  font-size: 0.75em;
  padding-left: 5px;
  /* margin-top: -15px; */
}
#login-buttons {
  display: block;
  text-align: center;
  margin-top: 30px;
}



.selectGroupButton {
	background-color:#7892a2;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:0px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:2px 4px;
  margin-left: 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.selectGroupButton:hover {
	background-color:#476e9e;
}
.selectGroupButton:active {
	position:relative;
	top:1px;
}

.studentNameButton {
	background-color:#7892a2;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:0px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:2px 4px;
  /*margin-left: 10px; */
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.studentNameButton.canBeClicked {
  background-color:#f9d072;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:0px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:14px;
	padding:2px 4px;
  /*margin-left: 10px; */
	text-decoration:none;
	/*
  text-shadow:0px 1px 0px #283966;
  */
}

.studentNameButton.checked {
  background-color:#7892a2;
	/*background-color:#dcdcdc;*/
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:0px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#dcdcdc;
	font-family:Arial;
	font-size:14px;
	padding:2px 4px;
  /*margin-left: 10px; */
	text-shadow:0px 1px 0px #283966;
  text-decoration: line-through;
}
.studentNameButton.checked:hover {
	background-color:#0892a2;
}
.studentNameButton:hover {
	background-color:#476e9e;
}
.studentNameButton:active {
	position:relative;
	top:1px;
}

.editButton {
	background-color:#7892c2;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:0px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	padding:2px 4px;
  margin-left: 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.editButton:hover {
	background-color:#476e9e;
}
.editButton:active {
	position:relative;
	top:1px;
}

.deleteButton {
	background-color:#7892c2;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:0px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ff0000;
	font-family:Arial;
	font-size:10px;
	padding:2px 4px;
  margin-left: 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.deleteButton:hover {
	background-color:#476e9e;
}
.deleteButton:active {
	position:relative;
	top:1px;
}

.goToMainViewButton {
  /* background-color:#00cc66; */
  position:relative;
  float:left;

  background-color:#f9d072;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:0px;
	border:1px solid #4e6096;
	/*display:inline-block;*/
  display: flex;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	padding:2px 4px;
  margin-left: -35px;
  margin-top: 100px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
  transform: rotate(-90deg);
}
.goToMainViewButton:hover {
	background-color:#00aa77;
}
.goToMainViewButton:active {
	position:relative;
	top:1px;
}

.goToListViewButton {
  /* background-color:#00cc66; */
  background-color:#f9d072;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:0px;
	border:1px solid #4e6096;
	/*display:inline-block;*/
  display: flex;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	padding:2px 4px;
  margin-left: 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.goToListViewButton:hover {
	background-color:#00aa77;
}
.goToListViewButton:active {
	position:relative;
	top:1px;
}

.randomizeStudentGroupButton {
	/* background-color:#00cc66; */
  background-color:#f9d072;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:0px;
	border:1px solid #4e6096;
	/*display:inline-block;*/
  display: flex;
  float: right;
  /* margin-top: 200px; */
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:50px;
	padding:2px 4px;
  margin-left: 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.randomizeStudentGroupButton:hover {
	background-color:#00aa77;
}
.randomizeStudentGroupButton:active {
	position:relative;
	top:1px;
}

/*
h1 {

  font-size: 1.5em;
  color: black;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;

}
*/

label {
  /* display: block; */
  padding-left: 10px;
  /* text-indent: -15px; */
}

input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}


form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-studentGroup input {

  box-sizing: border-box;
  height: 30px;
  padding-left: 5px;
  padding-right: 80px;
  margin-left: 10px;
  margin-bottom: 10px;
  background: transparent;
  /** border: none; */
  border-top: 1px dotted;
  border-right: 1px dotted;
  border-left: 1px dotted;
  border-bottom: 1px dotted;
  width: 50%;
  font-size: 1.5em;

}

.new-studentGroup input:focus{
  outline: 0;
}

.new-studentToClass input {

  box-sizing: border-box;
  background: transparent;
  /** border: none; */
  border-top: 1px dotted;
  border-right: 1px dotted;
  border-left: 1px dotted;
  border-bottom: 1px dotted;
  height: 17px;
  width: 33%;
  margin-left: 5px;
  margin-bottom: 10px;
  padding-right: 80px;
  font-size: 1em;

}

.new-studentToClass input:focus{
  outline: 0;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}


ul {
  margin: 0;
  padding: 0;
  /* background: white; */
}

#studentListID ul {
  margin: 0;
  padding: 0;
  /*
  opacity: 0.1;
  background: white; */
}

#studentListID ul li{
  position: relative;
  list-style: none;
  /* padding: 10px; */
  margin: 10px;
}

li{
  margin: 10px 15px;
  list-style: none;
}

/*
li {
  position: relative;
  list-style: none;
  padding: 10px;
  border-bottom: #eee solid 1px;
}
*/


li .text {
  margin-left: -10px;
}

li.checked {
  color: #888;
}


li.checked .text {
  text-decoration: line-through;
}



li.private {
  background: #eee;
  border-color: #ddd;
}



header .hide-completed {
  /* float: right; */
}



.toggle-private {
  margin-left: 5px;
}



@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-studentGroup input {
    padding-bottom: 5px;
  }

  .new-studentToClass input {
    padding-bottom: 5px;
    padding-left: 10px;
  }
}
